{% extends "base.html" %}
{% block content %}


<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area ptb-60 ptb-sm-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{{url}}">Home</a></li>
                        <li class="active"><a href="{{url}}/Error404">404 Page</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Error 404 Area Start -->
        <div class="error404-area pb-60 pt-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="error-wrapper text-center">
                            <div class="error-text">
                                <h1>404</h1>
                                <h2>Ой! Страница не найдена</h2>
                                <p>Извините, но страница, которую вы ищете, не существует, была удалена, измененила имя или временно недоступна.</p>
                            </div>
                            <div class="error-button">
                                <a href="{{url}}">Вернуться на начальную</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Error 404 Area End -->
    </div>
</body>

{% endblock %}