{% extends "base.html" %}
{% block content%}
<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="index.html">Главная страница</a></li>
                <li class="active"><a href="about.html">О нас</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- About Main Area Start -->
<div class="about-main-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12">
                <div class="about-img">
                    <img class="img" src="{{url_for('static', filename='img/banner/about.jpg')}}" alt="about-us">
                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="about-content">
                    <h3>Почему мы?</h3>
                    <p>Добро пожаловать в студию автозвука Sound Repair! Мы специализируемся на продаже автозвука по низким ценам и предоставляем услуги по установке и ремонту звукоусиливающей аппаратуры. Мы гарантируем качество нашей работы и предоставляем гарантию на месте от официального центра. На все выполненные работы предоставляются чеки, бумаги и акты проделанных работ.</p> <br>
                    <ul class="mt-20 about-content-list">
                        <li><a href="#">Надежность</a></li>
                        <li><a href="#">Качество</a></li>
                        <li><a href="#">Команда профессионалов</a></li>
                        <li><a href="#">Лучшие цены</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Main Area End -->
<!-- Our Mission Start -->
<div class="about-bottom pt-50 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="ht-single-about pb-sm-40">
                    <h3>ОПЫТНЫЕ СПЕЦИАЛИСТЫ</h3>
                    <p>Наши специалисты имеют обширный опыт и всегда готовы помочь нашим клиентам в решении любых проблем с автозвуком. Если вам нужна помощь с установкой, ремонтом или выбором нового звукового оборудования, обращайтесь в Sound Repair - мы сделаем все возможное, чтобы помочь вам создать идеальный звук в вашем автомобиле.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="ht-single-about">
                    <h3>ШИРОКАЯ СПЕЦИАЛИЗАЦИЯ</h3>
                    <p>Мы предлагаем ремонт динамиков, в том числе замену катушки (не перемотку), замену диффузоров, замену центрирующих шайб и подводящих. Мы также специализируемся на восстановлении старых советских динамиков. В Sound Repair мы также предлагаем услуги по ремонту усилителей любой схемотехнической сложности.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our Mission End -->
{% endblock %}