<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<script src="{{ url_for('static',filename='js/script.js') }}"></script>
</head>
<body class="" id="">
    <header>
        <div class="contact-block hidden-xs">
            <ul>
                <li><a class="email" href="mailto:umerenkovmaskim7@gmail.com">umerenkovmaskim7@gmail.com</a></li>
                <li><a class="number" href="tel:79204663505">+7 (920) 466-35-05</a></li>
            </ul>
        </div>
        <div class="header-inner">
            <div class="left-header-block">
                <a href="{{host_url}}"><h1 class="">SoundRepair</h1></a>
            </div>
            <div class="header-buttons">
                <ul class="hidden-sm hidden-xs">
                    <li><a href="">Новости</a></li>
                    <li><a href="">Наши работы</a></li>
                    <li><a href="">О нас</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <footer id="footer">
        <a href="footer"></a>
        <p>© SoundRepair</p>
    </footer>
</body>
</html>