{% extends "base.html" %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{{url}}">Главная страница</a></li>
                <li class="active"><a href="">Наши работы</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Blog Area Start -->
<div class="blog-page pb-60">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            {% for id, title, description, date, img_href in works %}
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-blog">
                    <div class="blog-img">
                        {% if img_href == 'None' %}
                        <a href="{{url}}/work/{{id}}"><img src="{{url_for('static', filename='img/blog/1.jpg')}}" alt="blog-image"></a>
                        {% else %}
                        <a href="{{url}}/work/{{id}}"><img src="{{url_for('static', filename=img_href)}}" alt="blog-image"></a>
                        {% endif %}
                    </div>
                    <div class="blog-content">
                            <h4 class="blog-title"><a href="{{url}}/work/{{id}}">{{title}}</a></h4>
                        <div class="blog-meta">
                            <ul>
                                <li><span>Дата: </span> <a href="#">{{date}}</a></li>
                            </ul>
                        </div>
                        <div class="readmore">
                            <a href="{{url}}/work/{{id}}">Читать дальше...</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-sm-12">
                <ul class="blog-pagination pt-20">
                    {% for n in range(1, pages_count + 1) %}
                        {% if n == page %}
                            <li class="active"><a href="{{url}}/our_works/{{n}}">{{n}}</a></li>
                        {% else %}
                            <li><a href="{{url}}/our_works/{{n}}">{{n}}</a></li>
                        {% endif %}
                        {% endfor %}
                </ul>
                <!-- End of .blog-pagination -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Blog Area End -->
{% endblock %}