{% extends "base.html" %}
{% block content %}

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{{url}}">Главная страница</a></li>
                        <li class="active"><a href="">Корзина</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <div id="page-url" data-url="{{url}}"></div>
        <!-- Breadcrumb End -->
        <!-- Cart Main Area Start -->
        <div class="cart-main-area pb-80 pb-sm-50">
            <div class="container">
               <h2 class="text-capitalize sub-heading">Корзина</h2>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Form Start -->
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive mb-50">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Фото</th>
                                            <th class="product-name">Название</th>
                                            <th class="product-price">Цена</th>
                                            <th class="product-quantity">Количество</th>
                                            <th class="product-subtotal">Итог</th>
                                            <th class="product-remove">Удалить</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cart-items">
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                            <div class="row">
                               <!-- Cart Button Start -->
                                <div class="col-lg-8 col-md-7">
                                    <div class="buttons-cart">
                                        <button class="clear-cart">Очистить корзину</button>
                                    </div>
                                </div>
                                <!-- Cart Button Start -->
                                <!-- Cart Totals Start -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="cart_totals">
                                        <h2>Итого</h2>
                                        <br />
                                        <table>
                                            <tbody>
                                            <tr class="cart-subtotal">
                                                <th>Без скидок</th>
                                                <td><span class="amount subtotal-amount">0₽</span></td>
                                            </tr>
                                            <tr class="order-total">
                                                <th>Со скидками</th>
                                                <td>
                                                    <strong><span class="amount total-amount">0₽</span></strong>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <dialog id="successDialog">
                                            <h2>Успешно отправлен заказ!</h2>
                                            <p>Ваш заказ был успешно отправлен.</p>
                                            <button onclick="closeSuccessDialog()">Закрыть</button>
                                          </dialog>
                                          
                                        <div class="wc-proceed-to-checkout">
                                            <button onclick="openDialog()">Заказать</button>
                                        </div>
                                        <dialog id="orderDialog">
                                            <h2>Введите данные для заказа</h2>
                                            <div class="input-container">
                                                <input type="text" id="nameInput" class="dialog-input" placeholder="Имя">
                                                <span class="input-notification" id="nameNotification"></span>
                                            </div>
                                            <div class="input-container">
                                                <input type="text" id="surnameInput" class="dialog-input" placeholder="Фамилия">
                                                <span class="input-notification" id="surnameNotification"></span>
                                            </div>
                                            <div class="input-container">
                                                <input type="text" id="contactInput" class="dialog-input" placeholder="Телефон">
                                                <span class="input-notification" id="contactNotification"></span>
                                            </div>
                                            <button onclick="submitOrder()" class="dialog-btn">Отправить</button>
                                            <button onclick="closeDialog()" class="dialog-btn">Отмена</button>
                                        </dialog>
                                    </div>
                                </div>
                                <!-- Cart Totals End -->
                            </div>
                            <!-- Row End -->
                    </div>
                </div>
                 <!-- Row End -->
            </div>
        </div>
        <!-- Cart Main Area End -->
    </div>
    <!-- Wrapper End -->

</body>
{% endblock %}