{% extends "base.html" %}
{% block content %}

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-20">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="index.html">Главная страница</a></li>
                        <li class="active"><a href="cart.html">Корзина</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Cart Main Area Start -->
        <div class="cart-main-area pb-80 pb-sm-50">
            <div class="container">
               <h2 class="text-capitalize sub-heading">Корзина</h2>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive mb-50">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Фото</th>
                                            <th class="product-name">Название</th>
                                            <th class="product-price">Цена</th>
                                            <th class="product-quantity">Скидка</th>
                                            <th class="product-subtotal">Итог</th>
                                            <th class="product-remove">Удалить</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for id, name, img_href, price, price_with_sale, sale in product_data %}
                                        <tr>
                                            <td class="product-thumbnail">
                                                <a href="#"><img src="{{levelness}}{{img_href}}" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a href="{{url}}">{{name}}</a></td>
                                            <td class="product-price"><span class="amount">{{price}}₽ </span></td>
                                            <td class="product-quantity">
                                                {% if sale%}
                                                {{sale}}%
                                                {% else %}
                                                0%
                                                {% endif %}
                                            </td>
                                            <td class="product-subtotal"><span class="amount">{{price_with_sale}}₽</span></td>
                                            <td class="product-remove"> <a href="{{url}}/cart/del$${{id}}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                            <div class="row">
                               <!-- Cart Button Start -->
                                <div class="col-lg-8 col-md-7">
                                    <div class="buttons-cart">
                                        <a href="{{url}}{{last_ssesion}}">Continue Shopping</a>
                                    </div>
                                </div>
                                <!-- Cart Button Start -->
                                <!-- Cart Totals Start -->
                                <div class="col-lg-4 col-md-12">
                                    <div class="cart_totals">
                                        <h2>Итого</h2>
                                        <br />
                                        <table>
                                            <tbody>
                                            {% if total_price_with_sale %}
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td><span class="amount">{{total_price}}₽</span></td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <strong><span class="amount">{{total_price_with_sale}}₽</span></strong>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <strong><span class="amount">{{total_price}}₽</span></strong>
                                                    </td>
                                                </tr>
                                            {% endif %}

                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="{{url}}/contact">Заказать</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Totals End -->
                            </div>
                            <!-- Row End -->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                 <!-- Row End -->
            </div>
        </div>
        <!-- Cart Main Area End -->
    </div>
    <!-- Wrapper End -->

</body>
{% endblock %}