{% extends "base.html" %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{{url}}">Главная страница</a></li>
                <li class="active"><a href="">Контакты</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<div class="yandex_map">
    <div class="container" style="height: 250px;">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0ae15f621e6e0d39312afa997374536a01c329090196b86d198706ef2abdb626&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>
<!-- Contact Email Area Start -->
<div class="contact-email-area ptb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Связь с нами</h3>
                <p class="mb-40">Телефон: <a href="tel:79204663505">+7 (920) 466-35-05</a><br>Почта: <a href="mailto:umerenkovmaksim7@gmail.com">umerenkovmaksim7@gmail.com</a> <br>Либо можете свзяаться с нами, заполнив форму ниже</p>
                <form id="contact-form" class="contact-form" action="mail.php" method="post">
                    <div class="address-wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="address-fname">
                                    <input type="text" name="name" placeholder="Имя">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="address-email">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="address-subject">
                                    <input type="text" name="subject" placeholder="Тема">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="address-textarea">
                                    <textarea name="message" placeholder="Напишите ваше сообщение..."></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="form-message ml-15"></p>
                    <div class="col-xs-12 footer-content mail-content">
                        <div class="send-email">
                            <input type="submit" value="Отправить" class="submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact Email Area End -->
<!-- Brand Logo Start -->
{% endblock %}
