{% extends "base.html" %}
{% block content %}


<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <div class="box-wrapper homepage">
        <div class="box-layout">
        <!-- Slider Area Start -->
        <br>
        <div class="slider-area slider-style-three">
            <div class="container">
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-8">
                        <div class="slider-wrapper theme-default">
                            <!-- Slider Background  Image Start-->
                            <div id="slider" class="nivoSlider">
                                <a href="shop.html"> <img src="{{url_for('static', filename='img/slider/5.jpg')}}" data-thumb="{{url_for('static', filename='img/slider/5.jpg')}}" alt="" title="#slider-1-caption1"/></a>
                                <a href="shop.html"><img src="{{url_for('static', filename='img/slider/6.jpg')}}" data-thumb="{{url_for('static', filename='img/slider/6.jpg')}}" alt="" title="#slider-1-caption2"/></a>
                            </div>
                            <!-- Slider Background  Image Start-->
                            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                                <div class="text-content-wrapper">
                                    <div class="text-content">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="2s" data-wow-delay="0s">Sound Repair</h4>
                                        <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="2s" data-wow-delay="1s">Лучший звук за лучшую цену
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="2s" data-wow-delay="2s">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                                <div class="text-content-wrapper">
                                    <div class="text-content slide-2">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="1s" data-wow-delay="1s">Sound Repair</h4>
                                        <h1 class="title1 wow flipInX text-white mb-16" data-wow-duration="1s" data-wow-delay="2s">Лучший звук за лучшую цену
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s" data-wow-delay="3s">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right-banners">
                         <!-- Single Banner Start -->
                        <div class="single-banner zoom mb-20">
                            <a href="#"><img src="{{url_for('static', filename='img/banner/9.jpg')}}" alt="slider-banner"></a>
                        </div>
                        <!-- Single Banner End -->
                        <!-- Single Banner Start -->
                        <div class="single-banner zoom">
                            <a href="#"><img src="{{url_for('static', filename='img/banner/10.jpg')}}" alt="slider-banner"></a>
                        </div>
                        <!-- Single Banner End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End -->
        <!-- New Products Start -->
        <div class="new-products">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-lg-4 order-2">
                        <div class="side-product-list">
                            <div class="group-title">
                                <h2>Популярные товары</h2>
                            </div>
                            <!-- Deal Pro Activation Start -->
                            <div class="slider-right-content side-product-list-active owl-carousel">
                                <!-- Double Product Start -->
                                {% for products_list in top_products_mat %}
                                <div class="double-pro">
                                    <!-- Single Product Start -->
                                    {%for id, name, price, sale_price, sale in products_list%}
                                    <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="{{url}}/product/{{id}}">
                                            <img class="primary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>

                                        {% if sale %}
                                        <p><span class="price">{{sale_price}}₽</span>
                                        <del class="prev-price">{{price}}₽</del></p>
                                        {% else %}
                                        <p><span class="price">{{price}}₽</span>
                                        {% endif %}

                                    </div>

                                    <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endfor %}
                            </div>
                            <!-- Deal Pro Activation End -->
                        </div>
                    </div>
                    <div class="col-xl-9 col-lg-8  order-lg-2">
                        <!-- New Pro Content End -->
                        <div class="new-pro-content">
                            <div class="pro-tab-title border-line mb-20">
                                <!-- Featured Product List Item Start -->
                                <ul class="nav product-list product-tab-list">
                                    <li><a  class="active" data-toggle="tab" href="#last">Последние на складе</a></li>
                                    <li><a data-toggle="tab" href="#category">{{category}}</a></li>
                                    <li><a data-toggle="tab" href="#manufacturer">{{manufacturer}}</a></li>
                                </ul>
                                <!-- Featured Product List Item End -->
                            </div>
                            <div class="tab-content product-tab-content jump">
                                <div id="last" class="tab-pane active">
                                    <!-- New Products Activation Start -->
                                    <div class="new-pro-active owl-carousel">
                                        <!-- Single Product Start -->
                                        {% for id, name, price, sale_price, sale in last_products %}
                                        <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{url}}/product/{{id}}">
                                                <img class="primary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                                <img class="secondary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                                            <p><span class="price">{{price}}₽</span>
                                            {% if sale %}
                                            <del class="prev-price">{{price}}₽</del></p>
                                            {% endif %}
                                        </div>
                                        <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                    </div>
                                        {% endfor %}
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                                <!-- New Products End -->
                                <div id="category" class="tab-pane">
                                    <!-- New Products Activation Start -->
                                    <div class="new-pro-active owl-carousel">
                                        <!-- Single Product Start -->
                                        {% for id, name, price, sale_price, sale in category_products %}
                                        <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{url}}/product/{{id}}">
                                                <img class="primary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                                <img class="secondary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                                            <p><span class="price">{{price}}₽</span>
                                            {% if sale %}
                                            <del class="prev-price">{{price}}₽</del></p>
                                            {% endif %}
                                        </div>
                                        <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                    </div>
                                        {% endfor %}
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>

                                <div id="manufacturer" class="tab-pane">
                                    <!-- New Products Activation Start -->
                                    <div class="new-pro-active owl-carousel">
                                        <!-- Single Product Start -->
                                        {% for id, name, price, sale_price, sale in manufacturer_products %}
                                        <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{url}}/product/{{id}}">
                                                <img class="primary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                                <img class="secondary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                                            <p><span class="price">{{price}}₽</span>
                                            {% if sale %}
                                            <del class="prev-price">{{price}}₽</del></p>
                                            {% endif %}
                                        </div>
                                        <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                    </div>
                                        {% endfor %}
                                        <!-- Single Product End -->
                                    </div>
                                    <!-- New Products Activation End -->
                                </div>
                            </div>
                            <!-- Tab-Content End -->
                            <div class="single-banner zoom mt-30 mt-sm-10">
                            <a href="#"><img src="{{url_for('static', filename='img/banner/tab-banner.jpg')}}" alt="slider-banner"></a>
                        </div>
                        </div>
                        <!-- New Pro Content End -->
                    </div>
                </div>

            </div>
            <!-- Container End -->
        </div>
        <!-- New Products End -->
        <!-- Banner Start -->
        <div class="upper-banner banner ptb-20 ">
            <div class="container">
               <div class="row">
                   <!-- Single Banner Start -->
                   <div class="col-sm-6">
                        <div class="single-banner zoom">
                            <a href="#"><img src="{{url_for('static', filename='img/banner/1.png')}}" alt="slider-banner"></a>
                        </div>
                    </div>
                   <!-- Single Banner End -->
                    <!-- Single Banner Start -->
                   <div class="col-sm-6">
                        <div class="single-banner zoom">
                            <a href="#"><img src="{{url_for('static', filename='img/banner/2.png')}}" alt="slider-banner"></a>
                        </div>
                    </div>
                   <!-- Single Banner End -->
               </div>
               <!-- Row End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Banner End -->wl-na
        <!-- Best Products Start -->
        <div class="best-seller-product pb-50 pb-sm-30">
            <div class="container">
                <div class="group-title">
                    <h2>Самые продаваемые товары</h2>
                </div>
                <!-- Best Product Activation Start -->
                <div class="best-seller-pro-active  owl-carousel slider-right-content">
                    <!-- Double Product Start -->
                    {% for products_list in products_mat %}
                    <div class="double-pro">
                        <!-- Single Product Start -->
                        {% for id, name, price, sale_price, sale in products_list %}
                        <div class="single-product">
                            <div class="pro-img">
                                <a href="{{url}}/product/{{id}}"><img class="img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="product-image"></a>
                            </div>
                            <div class="pro-content">
                                <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                                <p><span class="price">{{price}}₽</span>
                                            {% if sale %}
                                            <del class="prev-price">{{price}}₽</del></p>
                                            {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <!-- Single Product End -->
                    </div>
                    {% endfor %}
                </div>
                <!-- Best Product Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Best Product End -->
        <!-- Blog Page Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="group-title">
                    <h2>Наши работы</h2>
                </div>
                 <!-- Popular Categorie Activation Start -->
                 <div class="blog-active owl-carousel">
                    <!-- Single Blog Start -->
                     {% for id, title, description, date in works %}
                    <div class="single-blog">
                    <div class="blog-img">
                        <a href="{{url}}/work/{{id}}"><img src="{{url_for('static', filename='img/blog/' + id|string + '.jpg')}}" alt="blog-image"></a>
                    </div>
                    <div class="blog-content">
                            <h4 class="blog-title"><a href="{{url}}/work/{{id}}">{{title}}</a></h4>
                        <div class="blog-meta">
                            <ul>
                                <li><span>Дата: </span> <a href="#">{{date}}</a></li>
                            </ul>
                        </div>
                        <div class="readmore">
                            <a href="{{url}}/work/{{id}}">Читать дальше...</a>
                        </div>
                    </div>
                </div>
                     {% endfor %}
                    <!-- Single Blog End -->
                 </div>
                 <!-- Popular Categorie Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End -->
        </div>
    </div>
</body>

{% endblock %}