{% extends "base.html" %}
{% block content %}
        <!-- Header Area End -->
        <!-- Slider Area Start -->
        <div class="slider-area slider-style-three">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="slider-wrapper theme-default">
                            <!-- Slider Background  Image Start-->
                            <div id="slider" class="nivoSlider">
                                <a href="shop.html"> <img src="{{url_for('static', filename='img/slider/5.jpg')}}" data-thumb="static/img/slider/5.jpg" alt="" title="#slider-1-caption1"/></a>
                            </div>
                            <!-- Slider Background  Image Start-->
                            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                                <div class="text-content-wrapper">
                                    <div class="text-content">
                                        <h1 class="title1 wow bounceInRight mb-16" data-wow-duration="1.5s" data-wow-delay="0.5s">Sound Repair <br>Лучший звук за лучшую цену</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End -->        
        <!-- Blog Page Start -->
        <div class="blog-area pb-60">
            <div class="container">
                <div class="group-title">
                    <h2>Вам может понравиться</h2>
                </div>
                 <!-- Popular Categorie Activation Start -->
                 <div class="blog-active owl-carousel">
                    <!-- Single Blog Start -->
                     {%for id, name, img_href, text in random_product%}
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="{{url}}/product/{{id}}"><img src="{{ img_href }}" alt="product-image"></a>
                        </div>
                        <div class="blog-content">
                                <h4 class="blog-title"><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                            <div class="blog-meta">
                                {{text}}
                            </div>
                            <div class="readmore">
                                <a href="{{url}}/product/{{id}}">Подробнее...</a>
                            </div>
                        </div>
                    </div>
                     {% endfor %}
                 </div>
                 <!-- Popular Categorie Activation End -->
            </div>
            <!-- Container End -->
        </div>
        <!-- Blog Page End -->
    {% if is_related_product %}
    <div class="related-product pb-30">
        <div class="container">
            <div class="related-box">
                <div class="group-title">
                    <h2>Вам может понравиться</h2>
                </div>
                <!-- Realted Product Activation Start -->
                <div class="new-upsell-pro owl-carousel">
                    {% for id, name, img_href, text, price, price_with_sale, sale in related_product %}
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="{{url}}/product/{{id}}">
                                <img class="primary-img" src="{{levelness}}{{img_href}}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                            {% if price_with_sale %}
                            <p><span class="price">{{price_with_sale}}₽</span>
                            <del class="prev-price">{{price}}₽</del></p>
                            {% else %}
                            <p><span class="price">{{price}}₽</span>
                            {% endif %}
                        </div>
                        {% if sale %}
                        <span class="sticker-new">-{{sale}}%</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <!-- Single Product End -->
                </div>
                <!-- Realted Product Activation End -->
            </div>
        </div>
    </div>
    {% endif %}
    <!-- Realted Product End -->
    <!-- Upsell Product Start -->
    {% if is_upsell_product %}
    <div class="related-product pb-30">
        <div class="container">
            <div class="usel-product">
                <div class="group-title">
                    <h2>Товары по скидке</h2>
                </div>
                <!-- Upsell Product Activation Start -->
                <div class="new-upsell-pro owl-carousel">
                    {% for id, name, img_href, text, price, price_with_sale, sale in upsell_product %}
                    <div class="single-product">
                        <!-- Product Image Start -->
                        <div class="pro-img">
                            <a href="{{url}}/product/{{id}}">
                                <img class="primary-img" src="{{levelness}}{{img_href}}" alt="single-product">
                            </a>
                        </div>
                        <!-- Product Image End -->
                        <!-- Product Content Start -->
                        <div class="pro-content">
                            <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                            {% if price_with_sale %}
                            <p><span class="price">{{price_with_sale}}₽</span>
                            <del class="prev-price">{{price}}₽</del></p>
                            {% else %}
                            <p><span class="price">{{price}}₽</span>
                            {% endif %}
                        </div>
                        {% if sale %}
                        <span class="sticker-new">-{{sale}}%</span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <!-- Upsell Product Activation End -->
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
