{% extends "base.html" %}
{% block content %}
<!-- Header Area End -->   
<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{{url}}">Главная страница</a></li>
                <li class="active"><a href="{{url}}/shop/$$$name$up$$1">Каталог</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Shop Page Start -->
<div class="main-shop-page pb-60">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3  order-2">
                <div class="sidebar white-bg">
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Категории</h2>
                        </div>
                        <ul>
                            {% for name, n, href, activ in categories %}
                            {% if activ %}
                            <li><a href="{{url}}/shop/{{href}}" style="color:#ce0000">
                                {{name}} ({{n}})
                            </a></li>
                            {% else %}
                            <li><a href="{{url}}/shop/{{href}}">
                                {{name}} ({{n}})
                            </a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Цена</h2>
                        </div>
                        <form action="#">
                            <div id="slider-range" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
                                <div class="ui-slider-range ui-corner-all ui-widget-header" ></div>
                            </div>
                                <input id="amount" class="amount" readonly="" type="text">
                        </form>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Производители</h2>
                        </div>
                        <ul  class="manufactures-list">
                            {% for name, n, href, activ in manufacturers %}
                            {% if activ %}
                            <li><a href="{{url}}/shop/{{href}}" style="color:#f1ac06">
                                {{name}} ({{n}})
                            </a></li>
                            {% else %}
                            <li><a href="{{url}}/shop/{{href}}">
                                {{name}} ({{n}})
                            </a></li>
                            {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Популярные товары</h2>
                        </div>
                        <div class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel">
                            <!-- Best Seller Multi Product Start -->
                            {% for product_list in product_mat %}
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                {%for id, name, img_href, text, price, sale_price, sale in product_list%}
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="{{url}}/product/{{id}}">
                                            <img class="primary-img" src="{{levelness}}{{img_href}}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>

                                        {% if sale %}
                                        <p><span class="price">{{sale_price}}₽</span>
                                        <del class="prev-price">{{price}}₽</del></p>
                                        {% else %}
                                        <p><span class="price">{{price}}₽</span>
                                        {% endif %}

                                    </div>

                                    <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Понравившиеся</h2>
                        </div>
                        <div class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel">
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" src="{{levelness}}static/img/products/4.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <p><span class="price">$86.00</span><del class="prev-price">90.00</del></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" src="{{levelness}}static/img/products/1.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$32.00</span></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                            <!-- Best Seller Multi Product Start -->
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="product.html">
                                            <img class="primary-img" src="{{levelness}}static/img/products/2.jpg" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="product.html">Products Name Here</a></h4>
                                        <div class="product-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p><span class="price">$38.00</span><del class="prev-price">45.00</del></p>
                                    </div>
                                    <!-- Product Content End -->
                                </div>
                                <!-- Single Product End -->
                            </div>
                            <!-- Best Seller Multi Product End -->
                        </div>
                    </div>
                    <!-- Single Banner Start -->
                    <div class="single-sidebar single-banner zoom pt-20">
                        <a href="#" class="hidden-sm"><img src="{{levelness}}static/img/banner/8.jpg" alt="slider-banner"></a>
                        <a href="#" class="visible-sm"><img src="{{levelness}}static/img/banner/6.jpg" alt="slider-banner"></a>
                    </div>
                    <!-- Single Banner End -->
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->                    
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-lg-2">
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default universal-padding fix mb-30">
                    <div class="grid-list-view f-left">
                        <ul class="list-inline nav">
                            <li><a data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
                            <li><a  class="active" data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                            <li><span class="grid-item-list"> {{grid_item_list_text}}</span></li>
                        </ul>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter f-right">
                        <div class="toolbar-sorter">
                            <label>Сортировать по</label>
                            {% if sort_type == "name" %}
                                <a class="sort" href="{{url}}/shop/{{button_sort_href}}" data-toggle="tooltip" title="Сортировать продукты по названию">Названию</a>
                            {% else %}
                                <a class="sort-2" href="{{url}}/shop/{{button_sort_href}}" data-toggle="tooltip" title="Сортировать продукты по названию">Названию</a>
                            {% endif %}

                            {% if sort_type == "name" %}
                                <a class="sort-2" href="{{url}}/shop/{{button_sort_href}}" data-toggle="tooltip" title="Сортировать продукты по цене">Цене</a>
                            {% else %}
                                <a class="sort" href="{{url}}/shop/{{button_sort_href}}" data-toggle="tooltip" title="Сортировать продукты по цене">Цене</a>
                            {% endif %}

                            {% if is_reverse %}
                                <span><a href="{{url}}/shop/{{arrow_sort_href}}"><i class="fa fa-arrow-down"></i></a></span>
                            {% else %}
                                <span><a href="{{url}}/shop/{{arrow_sort_href}}"><i class="fa fa-arrow-up"></i></a></span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="main-categorie">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content fix">
                        <div id="grid-view" class="tab-pane ">
                            <div class="row">
                                <!-- Single Product Start -->
                                {% for id, name, img_href, text, price, sale_price, sale in products_list %}
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{url}}/product/{{id}}">
                                                <img class="primary-img" src="{{levelness}}{{img_href}}" alt="single-product">
                                                <img class="secondary-img" src="{{levelness}}{{img_href}}" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                                            <p><span class="price">{{price}}₽</span>
                                            {% if sale %}
                                            <del class="prev-price">{{price}}₽</del></p>
                                            {% endif %}
                                            <div class="pro-actions">
                                                <div class="actions-secondary">
                                                    <a href="{{url}}/wishlist/add$${{id}}" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                                    <a class="add-cart" href="{{url}}/cart/add${{id}}" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}


                                <!-- Single Product End -->
                            </div>
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane active">
                            <!-- Single Product Start -->
                            {% for id, name, img_href, text, price, sale_price, sale in products_list %}
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="{{url}}/product/{{id}}">
                                        <img class="primary-img" src="{{levelness}}{{img_href}}" alt="single-product">
                                        <img class="secondary-img" src="{{levelness}}{{img_href}}" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>

                                    {% if sale %}
                                    <p><span class="price">{{sale_price}}₽</span>
                                    <del class="prev-price">{{price}}₽</del></p>
                                    {% else %}
                                    <p><span class="price">{{price}}₽</span>
                                    {% endif %}

                                    <p>{{text}}</p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            <a href="{{url}}/wishlist/add$${{id}}" data-toggle="tooltip" title="Add to Wishlist"><i class="fa fa-heart"></i></a>
                                            <a class="add-cart" href="{{url}}/cart/add${{id}}" data-toggle="tooltip" title="Add to Cart">Add To Cart</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                                {% if sale %}
                                <span class="sticker-new">-{{sale}}%</span>
                                {% endif %}

                            </div>
                            {% endfor %}
                        </div>
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!--Breadcrumb and Page Show Start -->
                <div class="pagination-box fix">
                    <ul class="blog-pagination ">
                        {% for n in range(1, max_page + 1) %}
                        {% if n == page %}
                            <li class="active"><a href="{{url}}/shop/{{full_url}}{{n}}">{{n}}</a></li>
                        {% else %}
                            <li><a href="{{url}}/shop/{{full_url}}{{n}}">{{n}}</a></li>
                        {% endif %}
                        {% endfor %}

                        {% if page != max_page %}
                        {% endif %}
                    </ul>
                </div>
                <!--Breadcrumb and Page Show End -->
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Shop Page End -->
{% endblock %}

        
