{% extends "base.html" %}
{% block content %}
<!-- Header Area End -->
<!-- Breadcrumb Start -->
<div class="breadcrumb-area ptb-60 ptb-sm-30">
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{{url}}">Главная страница</a></li>
                <li class="active"><a href="{{url}}/shop">Каталог</a></li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<!-- Breadcrumb End -->
<!-- Shop Page Start -->
<div class="wrapper">
	<div class="menu-mobile--itself">
		<div class="close">
			<i class="fa fa-times-circle" aria-hidden="true"></i>
		</div>
		<div class="shop-filter">
            <div class="price-filter">
                <div class="min-price price-input">
                    {% if kwargs.get('price') %}
                        <span>От</span><input id="minPriceInput-2" type="number" placeholder="{{min_price}}" value={{filter_price[0]}}><span>руб.</span>
                    {% else %}
                        <span>От</span><input id="minPriceInput-2" type="number" placeholder="{{min_price}}"><span>руб.</span>
                    {% endif %}
                </div>
                <div class="max-price price-input">
                    {% if kwargs.get('price') %}
                        <span>До</span><input id="maxPriceInput-2" type="number" placeholder="{{max_price}}" value={{filter_price[1]}}><span>руб.</span>
                    {% else %}
                        <span>До</span><input id="maxPriceInput-2" type="number" placeholder="{{max_price}}"><span>руб.</span>
                    {% endif %}

                </div>
            </div>
            <div class="border"></div>
            <div class="categories-filter">
                <div class="filter__header">
                    <button class="filter__collapse-btn fa fa-angle-down"> Производители</button>
                </div>
                <div class="filter__content">
                    <ul class="filter__category-list">
                        {% for name in all_manufacturers %}
                        <li>
                            {% if name[0] in kwargs['manufacturer'] %}
                            <input type="checkbox" id="filter-manufacturer-{{name[0]}}" name="manufacturer-2" value="{{name[0]}}" checked>
                            {% else %}
                            <input type="checkbox" id="filter-manufacturer-{{name[0]}}" name="manufacturer-2" value="{{name[0]}}">
                            {% endif %}
                            <label for="filter-manufacturer-{{name[0]}}">{{name[0]}}</label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% for filters in filters_list %}
                <div class="border"></div>
                <div class="filter-form">
                    <div class="filter__header">
                        <button class="filter__collapse-btn fa fa-angle-down"> {{filters}}</button>
                        <style>
                            .filter__collapse-btn {
                                white-space: normal;
                                text-align: left;
                            }
                        </style>
                        
                    </div>
                    <div class="filter__content">
                        <ul class="filter__list">
                            {% for filter in filters_list[filters] %}
                            <li>
                                {% if filter in kwargs['filters'] %}
                                <input type="checkbox" id="filter-{{filters}}-{{filter}}" name="{{filters}}-2" value="{{filter}}" checked>
                                {% else %}
                                <input type="checkbox" id="filter-{{filters}}-{{filter}}" name="{{filters}}-2" value="{{filter}}">
                                {% endif %}
                                <label for="filter-{{filters}}-{{filter}}">{{filter}}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>  
            {% endfor %}
            <button onclick="ApplyFilters_2()" class="apply-filters">Применить</button>
        </div>
	</div>
	<div class="menu_block">
        <div class="menu-wrap">
            <input type="checkbox" id="checkbox">
            <nav>
                <ul>
                    {% if not is_reverse and kwargs['sort_type'] == 'cost' %}
                    <li><a class="active" data-type="cost" data-reverse="0" href="#">По возрастанию цены</a></li>
                    <li><a data-type="cost" data-reverse="1" href="#">По убыванию цены</a></li>
                    <li><a data-type="name" data-reverse="0" href="#">От А до Я</a></li>
                    <li><a data-type="name" data-reverse="1" href="#">От Я до А</a></li>
                    {% elif is_reverse and kwargs['sort_type'] == 'cost' %}
                    <li><a data-type="cost" data-reverse="0" href="#">По возрастанию цены</a></li>
                    <li><a class="active" data-type="cost" data-reverse="1" href="#">По убыванию цены</a></li>
                    <li><a data-type="name" data-reverse="0" href="#">От А до Я</a></li>
                    <li><a data-type="name" data-reverse="1" href="#">От Я до А</a></li>
                    {% elif not is_reverse and kwargs['sort_type'] == 'name' %}
                    <li><a data-type="cost" data-reverse="0" href="#">По возрастанию цены</a></li>
                    <li><a data-type="cost" data-reverse="1" href="#">По убыванию цены</a></li>
                    <li><a class="active" data-type="name" data-reverse="0" href="#">От А до Я</a></li>
                    <li><a data-type="name" data-reverse="1" href="#">От Я до А</a></li>
                    {% else %}
                    <li><a data-type="cost" data-reverse="0" href="#">По возрастанию цены</a></li>
                    <li><a data-type="cost" data-reverse="1" href="#">По убыванию цены</a></li>
                    <li><a data-type="name" data-reverse="0" href="#">От А до Я</a></li>
                    <li><a class="active" data-type="name" data-reverse="1" href="#">От Я до А</a></li>
                    {% endif %}
                </ul>
            </nav>
            <label for="checkbox">
                {% if not is_reverse and kwargs['sort_type'] == 'cost' %}
                <i class="fa fa-angle-down menu-icon"> По возрастанию цены</i>
                {% elif is_reverse and kwargs['sort_type'] == 'cost' %}
                <i class="fa fa-angle-down menu-icon"> По убыванию цены</i>
                {% elif not is_reverse and kwargs['sort_type'] == 'name' %}
                <i class="fa fa-angle-down menu-icon"> От А до Я</i>
                {% else %}
                <i class="fa fa-angle-down menu-icon"> От Я до А</i>
                {% endif %}
            </label>
        </div>
		<div class="menu_icon">
			<i class="fa fa-filter" aria-hidden="true"> Фильтр</i>
		</div>
	</div>
</div>
<div class="main-shop-page pb-60">
    <div class="container">
        <!-- Row End -->
        <div class="row">
            <!-- Sidebar Shopping Option Start -->
            <div class="col-lg-3  order-2">
                <div class="sidebar white-bg">
                    <div class="single-sidebar desktop-shop-filter">
                        <div class="shop-filter">
                            <div class="price-filter">
                                <div class="min-price price-input">
                                    {% if kwargs.get('price') %}
                                        <span>От</span><input id="minPriceInput" type="number" placeholder="{{min_price}}" value={{filter_price[0]}}><span>руб.</span>
                                    {% else %}
                                        <span>От</span><input id="minPriceInput" type="number" placeholder="{{min_price}}"><span>руб.</span>
                                    {% endif %}
                                </div>
                                <div class="max-price price-input">
                                    {% if kwargs.get('price') %}
                                        <span>До</span><input id="maxPriceInput" type="number" placeholder="{{max_price}}" value={{filter_price[1]}}><span>руб.</span>
                                    {% else %}
                                        <span>До</span><input id="maxPriceInput" type="number" placeholder="{{max_price}}"><span>руб.</span>
                                    {% endif %}

                                </div>
                            </div>
                            <div class="border"></div>
                            <div class="categories-filter">
                                <div class="filter__header">
                                    <button class="filter__collapse-btn fa fa-angle-down"> Производители</button>
                                </div>
                                <div class="filter__content">
                                    <ul class="filter__category-list">
                                        {% for name in all_manufacturers %}
                                        <li>
                                            {% if name[0] in kwargs['manufacturer'] %}
                                            <input type="checkbox" id="filter-manufacturer-{{name[0]}}" name="manufacturer" value="{{name[0]}}" checked>
                                            {% else %}
                                            <input type="checkbox" id="filter-manufacturer-{{name[0]}}" name="manufacturer" value="{{name[0]}}">
                                            {% endif %}
                                            <label for="filter-manufacturer-{{name[0]}}">{{name[0]}}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% for filters in filters_list %}
                                <div class="border"></div>
                                <div class="filter-form">
                                    <div class="filter__header">
                                        <button class="filter__collapse-btn fa fa-angle-down"> {{filters}}</button>
                                        <style>
                                            .filter__collapse-btn {
                                                white-space: normal;
                                                text-align: left;
                                            }
                                        </style>
                                        
                                    </div>
                                    <div class="filter__content">
                                        <ul class="filter__list">
                                            {% for filter in filters_list[filters] %}
                                            <li>
                                                {% if filter in kwargs['filters'] %}
                                                <input type="checkbox" id="filter-{{filters}}-{{filter}}" name="{{filters}}-2" value="{{filter}}" checked>
                                                {% else %}
                                                <input type="checkbox" id="filter-{{filters}}-{{filter}}" name="{{filters}}-2" value="{{filter}}">
                                                {% endif %}
                                                <label for="filter-{{filters}}-{{filter}}">{{filter}}</label>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>  
                            {% endfor %}
                            <button onclick="ApplyFilters()" class="apply-filters">Применить</button>
                        </div>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Категории</h2>
                        </div>
                        <ul>
                            {% for data in categories %}
                            <li><a href="{{url}}/shop?category={{data}}">
                                {{data}}
                            </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Популярные товары</h2>
                        </div>
                        <div class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel">
                            <!-- Best Seller Multi Product Start -->
                            {% for product_list in product_mat %}
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->
                                {%for id, name, price, sale_price, sale in product_list%}
                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="{{url}}/product/{{id}}">
                                            <img class="primary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>

                                        {% if sale %}
                                        <p><span class="price">{{sale_price}}₽</span>
                                        <del class="prev-price">{{price}}₽</del></p>
                                        {% else %}
                                        <p><span class="price">{{price}}₽</span>
                                        {% endif %}

                                    </div>

                                    <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% if wishlist_product_list %}
                    <div class="single-sidebar">
                        <div class="group-title">
                            <h2>Понравившиеся</h2>
                        </div>
                        <div class="best-seller-pro-two compare-pro best-seller-pro-two owl-carousel">
                            <!-- Best Seller Multi Product Start -->
                            {%for id, name, price, sale_price, sale in wishlist_product_list%}
                            <div class="best-seller-multi-product">
                                <!-- Single Product Start -->

                                <div class="single-product">
                                    <!-- Product Image Start -->
                                    <div class="pro-img">
                                        <a href="{{url}}/product/{{id}}">
                                            <img class="primary-img" src="{{url_for('static', filename='img/products/' + id|string + '.jpg')}}" alt="single-product">
                                        </a>
                                    </div>
                                    <!-- Product Image End -->
                                    <!-- Product Content Start -->
                                    <div class="pro-content">
                                        <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>

                                        {% if sale %}
                                        <p><span class="price">{{sale_price}}₽</span>
                                        <del class="prev-price">{{price}}₽</del></p>
                                        {% else %}
                                        <p><span class="price">{{price}}₽</span>
                                        {% endif %}

                                    </div>

                                    <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                </div>

                                <!-- Single Product End -->
                            </div>
                            {% endfor %}
                            <!-- Best Seller Multi Product End -->


                        </div>
                    </div>
                    {% endif %}
                    <!-- Single Banner Start -->
                    <div class="single-sidebar single-banner zoom pt-20">
                        <a href="#" class="hidden-sm"><img src="{{url_for('static', filename='img/products/8.jpg')}}" alt="slider-banner"></a>
                        <a href="#" class="visible-sm"><img src="{{url_for('static', filename='img/products/6.jpg')}}" alt="slider-banner"></a>
                    </div>
                    <!-- Single Banner End -->
                </div>
            </div>
            <!-- Sidebar Shopping Option End -->
            <!-- Product Categorie List Start -->
            <div class="col-lg-9 order-lg-2">
                {% if max_page != 0 %}
                <!-- Grid & List View Start -->
                <div class="grid-list-top border-default fix">
                    <div class="grid-list-view f-left">
                        <ul class="list-inline nav">
                            <li><a data-toggle="tab" href="#grid-view"><i class="fa fa-th"></i></a></li>
                            <li><a  class="active" data-toggle="tab" href="#list-view"><i class="fa fa-list-ul"></i></a></li>
                            <li><span class="grid-item-list"> {{grid_item_list_text}}</span></li>
                        </ul>
                    </div>
                    <!-- Toolbar Short Area Start -->
                    <div class="main-toolbar-sorter f-right">
                        <div class="toolbar-sorter">
                            <div class="sort-section">
                                <label>Сортировать по</label>
                            {% if kwargs.get('sort_type') == "name" %}
                                <a class="sort sort-name" href="" data-toggle="tooltip" title="Сортировать продукты по названию">Названию</a>
                                <a class="sort-2 sort-cost" href="" data-toggle="tooltip" title="Сортировать продукты по цене">Цене</a>
                            {% else %}
                                <a class="sort-2 sort-name" href="" data-toggle="tooltip" title="Сортировать продукты по названию">Названию</a>
                                <a class="sort sort-cost" href="" data-toggle="tooltip" title="Сортировать продукты по цене">Цене</a>
                            {% endif %}

                            {% if is_reverse %}
                                {%- set _ = kwargs.update({'is_reverse': 0}) -%}
                                <span><a href="{{url_for('shop', **kwargs)}}"><i class="fa fa-arrow-down"></i></a></span>
                            {% else %}
                                {%- set _ = kwargs.update({'is_reverse': 1}) -%}
                                <span><a href="{{url_for('shop', **kwargs)}}"><i class="fa fa-arrow-up"></i></a></span>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- Toolbar Short Area End -->
                </div>
                <!-- Grid & List View End -->
                <div class="main-categorie">
                    <!-- Grid & List Main Area End -->
                    <div class="tab-content fix">
                        <div id="grid-view" class="tab-pane ">
                            <div class="row">
                                <!-- Single Product Start -->
                                {% for id, name, text, price, sale_price, sale in products_list %}
                                <div class="col-lg-4 col-sm-6">
                                    <div class="single-product">
                                        <!-- Product Image Start -->
                                        <div class="pro-img">
                                            <a href="{{url}}/product/{{id}}">
                                                <img class="primary-img" src="{{levelness}}static/img/products/{{id}}.jpg" alt="single-product">
                                                <img class="secondary-img" src="{{levelness}}static/img/products/{{id}}.jpg" alt="single-product">
                                            </a>
                                        </div>
                                        <!-- Product Image End -->
                                        <!-- Product Content Start -->
                                        <div class="pro-content">
                                            <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>
                                            <p><span class="price">{{price}}₽</span>
                                            {% if sale %}
                                            <del class="prev-price">{{price}}₽</del></p>
                                            {% endif %}
                                        </div>
                                        <!-- Product Content End -->
                                        {% if sale %}
                                        <span class="sticker-new">-{{sale}}%</span>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}


                                <!-- Single Product End -->
                            </div>
                        </div>
                        <!-- #grid view End -->
                        <div id="list-view" class="tab-pane active">
                            <!-- Single Product Start -->
                            {% for id, name, text, price, sale_price, sale in products_list %}
                            <div class="single-product">
                                <!-- Product Image Start -->
                                <div class="pro-img">
                                    <a href="{{url}}/product/{{id}}">
                                        <img class="primary-img" src="{{levelness}}static/img/products/{{id}}.jpg" alt="single-product">
                                        <img class="secondary-img" src="{{levelness}}static/img/products/{{id}}.jpg" alt="single-product">
                                    </a>
                                </div>
                                <!-- Product Image End -->
                                <!-- Product Content Start -->
                                <div class="pro-content">
                                    <h4><a href="{{url}}/product/{{id}}">{{name}}</a></h4>

                                    {% if sale %}
                                    <p><span class="price">{{sale_price}}₽</span>
                                    <del class="prev-price">{{price}}₽</del></p>
                                    {% else %}
                                    <p><span class="price">{{price}}₽</span>
                                    {% endif %}

                                    <p>{{text}}</p>
                                    <div class="pro-actions">
                                        <div class="actions-secondary">
                                            <button class="add-wishlist-btn" data-toggle="tooltip" title="Добавить в понравившиеся"><i class="fa fa-heart"></i></button>
                                            <button class="add-cart-btn" data-id="{{id}}" data-name="{{name}}" data-price="{{price}}" data-price_with_sale="{{sale_price}}" data-sale="{{sale}}" data-image_href="{{url_for('static', filename='img/products/' ~ id ~ '.jpg')}}" data-toggle="tooltip" title="Добавить в корзину">В корзину</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Product Content End -->
                                {% if sale %}
                                <span class="sticker-new">-{{sale}}%</span>
                                {% endif %}

                            </div>
                            {% endfor %}
                        </div>
                        <!-- #list view End -->
                    </div>
                    <!-- Grid & List Main Area End -->
                </div>
                <!--Breadcrumb and Page Show Start -->
                <div class="pagination-box fix">
                    <ul class="blog-pagination ">
                        {% for n in range(1, max_page + 1) %}
                        {% if n == page %}
                            <li class="active"><button onclick="setPageNumber({{n}})">{{n}}</button></li>
                        {% else %}
                            <li><button onclick="setPageNumber({{n}})">{{n}}</button></li>
                        {% endif %}
                        {% endfor %}

                        {% if page != max_page %}
                        {% endif %}
                    </ul>
                </div>
                <!--Breadcrumb and Page Show End -->
                {% else %}
                <center><h1>Ничего не найдено</h1></center>
                {% endif %}
            </div>
            <!-- product Categorie List End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>
<!-- Shop Page End -->
{% endblock %}

        
