{% extends "base.html" %}
{% block content %}

<body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area pt-60 pb-55 pt-sm-30 pb-sm-25">
            <div class="container">
                <div class="breadcrumb">
                    <ul>
                        <li><a href="{{url}}">Главная страница</a></li>
                        <li class="active"><a href="{{url}}/wishlist">Понравившиеся</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- Wish List Start -->
        <div class="cart-main-area wish-list pb-60">
            <div class="container">
                <!-- Section Title Start -->
                <h2 class="text-capitalize sub-heading">Понравившиеся</h2>
                <!-- Section Title Start End -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- Form Start -->
                        <form action="#">
                            <!-- Table Content Start -->
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-remove">Удалить</th>
                                            <th class="product-thumbnail">Фото</th>
                                            <th class="product-name">Имя</th>
                                            <th class="product-price">Цена</th>

                                            <th class="product-subtotal">Добавить в корзину</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%for id, name, price in new_product_data %}
                                        <tr>
                                            <td class="product-remove"> <a href="{{url}}/wishlist/del$${{id}}"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                            <td class="product-thumbnail">
                                                <a href="{{url}}/product/{{id}}"><img src="{{levelness}}/static/img/products/{{id}}.jpg.jpg" alt="cart-image" /></a>
                                            </td>
                                            <td class="product-name"><a href="{{url}}/product/{{id}}">{{name}}</a></td>
                                            <td class="product-price"><span class="amount">{{price}}₽</span></td>
                                            <td class="product-add-to-cart"><a href="{{url}}/cart/add$${{id}}">Добавить</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <!-- Table Content Start -->
                        </form>
                        <!-- Form End -->
                    </div>
                </div>
                <!-- Row End -->
            </div>
        </div>
        <!-- Wish List End -->
    </div>
</body>
{% endblock %}